@import url('https://fonts.googleapis.com/css?family=Courier+Prime|Cutive+Mono|Share+Tech+Mono&display=swap');

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	background: black;
	font-family: 'Cutive Mono', monospace;
	color: white;
}

canvas,
ul {
	display: inline-block;
}
